- unless cart.line_items.empty?
  %article
    - if notice
      %aside#notice_cart= notice
    %h2 Your Cart
    %table
      =render cart.line_items.order(:created_at)
      %tfoot
        %tr
          %th{:colspan => "3"} Total:
          %td.price= number_to_currency(cart.total_price,unit:"Rs ",precision: 2)
    .actions
      %table  
        %tr
          %td= button_to 'Empty cart', cart,method: :delete,remote: true,data: { confirm: 'Are you sure?' } |
          %td
          %td.checkout=button_to 'Checkout', new_order_path,method: :get if (params[:controller]!="orders" && params[:action]!="new")